/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/base/_mixins.scss */
.navigation, .info-block, .tabs, .card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #ffffff;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../Users/yurij/Desktop/quantum-html-06/scss/base/_base.scss */
body {
  background-color: #fafafa;
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding-bottom: 600px;
}

/* line 13, ../../Users/yurij/Desktop/quantum-html-06/scss/base/_base.scss */
a {
  text-decoration: none;
}

/* line 15, ../../Users/yurij/Desktop/quantum-html-06/scss/base/_base.scss */
a:hover {
  text-decoration: none;
  color: #1875f0;
}

/* line 21, ../../Users/yurij/Desktop/quantum-html-06/scss/base/_base.scss */
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1;
}

/* line 28, ../../Users/yurij/Desktop/quantum-html-06/scss/base/_base.scss */
.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

/* line 34, ../../Users/yurij/Desktop/quantum-html-06/scss/base/_base.scss */
.hidden {
  display: none;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header {
  background-color: #fff;
  height: 130px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

/* line 8, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 23px;
  padding-right: 41px;
  padding-top: 30px;
  padding-bottom: 38px;
}

/* line 21, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__logo {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.76px;
}

/* line 30, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__search {
  display: flex;
  width: 468px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #f5f5f5;
}

/* line 38, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__search-input-wrapper {
  width: 400px;
  display: flex;
  align-items: center;
  border-right: 2px solid #f5f5f5;
}

/* line 47, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__search-input {
  height: 46px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
}

/* line 59, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__search-input::placeholder {
  color: #b3b3b3;
}

/* line 64, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__search-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  border-right: 2px solid #f5f5f5;
}

/* line 72, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__search-button-wrapper {
  flex-grow: 1;
}

/* line 76, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__search-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* line 87, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__links {
  display: flex;
  justify-content: space-between;
}

/* line 92, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header.scss */
.header__nav {
  border-top: 2px solid #f5f5f5;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-select.scss */
.header-select {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* line 13, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-select.scss */
.header-select__title {
  position: relative;
  width: 83px;
  color: #b3b3b3;
  font-size: 10px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

/* line 23, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-select.scss */
.header-select__title::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  background-image: url("./../img/icons/dropdown-arrow.svg");
}

/* line 35, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-select.scss */
.header-select__dropdown {
  position: absolute;
  top: 100%;
  left: -2px;
  right: -2px;
  border: 2px solid #f5f5f5;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

/* line 45, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-select.scss */
.header-select__dropdown-item {
  height: 40px;
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
}

/* line 55, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-select.scss */
.header-select__dropdown-item:last-child {
  border-bottom: none;
}

/* line 58, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-select.scss */
.header-select__dropdown-item:hover {
  background-color: #f1f1f1;
}

/* line 64, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-select.scss */
.header-select.header-select--nav {
  padding-left: 28px;
  padding-right: 28px;
}

/* line 67, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-select.scss */
.header-select.header-select--nav .header-select__title {
  width: auto;
  font-size: 14px;
  text-transform: none;
  color: #b3b3b3;
  font-weight: 500;
  line-height: 1;
  padding-right: 20px;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-link.scss */
.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #808080;
}

/* line 7, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-link.scss */
.header-link:not(:last-child) {
  margin-right: 35px;
}

/* line 11, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-link.scss */
.header-link svg {
  fill: gray;
}

/* line 15, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-link.scss */
.header-link:hover {
  color: #1875f0;
  text-decoration: none;
}

/* line 19, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-link.scss */
.header-link:hover svg {
  fill: #1875f0;
}

/* line 26, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-link.scss */
.header-link__icon {
  position: relative;
  width: 21px;
  height: 21px;
  margin-right: 18px;
}

/* line 33, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-link.scss */
.header-link--notify .header-link__icon::after {
  position: absolute;
  top: -8px;
  right: -7px;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #1875f0;
  border-radius: 50%;
}

/* line 44, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-link.scss */
.header-link__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

/* line 3, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-nav.scss */
.header-nav {
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  display: flex;
  width: 1110px;
  margin: 0 auto;
  height: 60px;
}

/* line 12, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-nav.scss */
.header-nav__categories {
  border-right: 2px solid #f5f5f5;
  width: 200px;
}

/* line 16, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-nav.scss */
.header-nav__deals {
  border-right: 2px solid #f5f5f5;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* line 25, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-nav.scss */
.header-nav__link {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}

/* line 32, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-nav.scss */
.header-nav__link:not(:last-child) {
  margin-right: 35px;
}

/* line 36, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-nav.scss */
.header-nav__link:hover {
  color: #1875f0;
  text-decoration: none;
}

/* line 42, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-nav.scss */
.header-nav__select {
  display: flex;
}

/* line 48, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-nav.scss */
.header-nav__select-item:not(:last-child) {
  border-right: 2px solid #f5f5f5;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link {
  padding: 0 40px 0 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  color: #808080;
}

/* line 9, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link:hover {
  color: #1875f0;
  text-decoration: none;
}

/* line 13, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link:hover svg {
  fill: #1875f0;
}

/* line 19, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link__icon {
  margin-right: 22px;
}

/* line 21, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link__icon svg {
  fill: gray;
}

/* line 26, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_header-mega-menu-link.scss */
.header-mega-menu-link__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
.nav-dropdown {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 28px;
  padding-right: 28px;
}

/* line 14, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
.nav-dropdown__title {
  position: relative;
  width: auto;
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 500;
  line-height: 1;
  padding-right: 20px;
}

/* line 24, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
.nav-dropdown__title-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  font-size: 0;
}

/* line 35, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
.nav-dropdown__title-icon svg {
  fill: #b3b3b3;
}

/* line 40, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
.nav-dropdown__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -2px;
  right: -2px;
  border: 2px solid #f5f5f5;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  z-index: 9;
}

/* line 53, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
.nav-dropdown:hover .nav-dropdown__title {
  color: #1875f0;
}

/* line 56, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
.nav-dropdown:hover svg {
  fill: #1875f0;
}

/* line 59, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
.nav-dropdown:hover .nav-dropdown__dropdown {
  display: block;
}

/* line 64, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
a.nav-dropdown__dropdown-item {
  height: 40px;
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding-left: 28px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
}

/* line 74, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
a.nav-dropdown__dropdown-item:last-child {
  border-bottom: none;
}

/* line 77, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_nav-dropdown.scss */
a.nav-dropdown__dropdown-item:hover {
  background-color: #f1f1f1;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel.scss */
.carousel-section {
  margin-bottom: 30px;
}

/* line 6, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel.scss */
.carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 330px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), url("./../img/carousel/slide-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
}

/* line 25, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel.scss */
.carousel__item-title {
  margin-bottom: 60px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
}

/* line 32, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel.scss */
.carousel__item-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
}

/* line 37, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel.scss */
.carousel__item-text p {
  margin-bottom: 15px;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
/* line 9, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

/* line 14, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

/* line 24, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none;
}

/* line 29, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

/* line 35, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-carousel.owl-theme .owl-nav button.owl-prev,
.owl-carousel.owl-theme .owl-nav button.owl-next {
  display: block;
  width: 60px;
  height: 60px;
  background-color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 21px;
}

/* line 54, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-carousel.owl-theme .owl-nav button.owl-prev {
  left: 60px;
  background-image: url("./../img/carousel-icons/arrow-left.svg");
}

/* line 60, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-carousel.owl-theme .owl-nav button.owl-next {
  right: 60px;
  background-image: url("./../img/carousel-icons/arrow-right.svg");
}

/* line 66, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

/* line 70, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

/* line 78, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 83, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-dots .owl-dot span {
  width: 68px;
  height: 2px;
  margin: 15px 15px;
  display: block;
  background-color: #ffffff;
  -webkit-backface-visibility: visible;
  opacity: 0.3;
  transition: opacity 200ms ease;
}

/* line 93, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section.scss */
.promo-section {
  margin-bottom: 30px;
}

/* line 5, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section.scss */
.promo-section__row {
  display: flex;
  justify-content: space-between;
}

/* line 10, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section.scss */
.promo-section__col {
  width: 350px;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item-link-wrapper {
  display: block;
}

/* line 5, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  max-width: 350px;
  height: 330px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #ffffff;
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
}

/* line 19, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.219);
}

/* line 25, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item__title {
  margin-bottom: 20px;
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

/* line 33, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item__subtitle {
  margin-bottom: 40px;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

/* Item with Background image */
/* line 43, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item--background-img {
  justify-content: flex-end;
  background-color: #3b4b48;
  background-position: center;
  background-size: cover;
  padding-bottom: 45px;
}

/* line 50, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item--background-img .promo-section-item__title {
  color: #fff;
}

/* line 54, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item--background-img .promo-section-item__subtitle {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.3);
}

/* line 60, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item--background-img-watch {
  background-color: #3b4b48;
  background-image: url("./../img/promo/watch-bg.jpg");
}

/* Item small size */
/* line 68, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item-link-wrapper--column:not(:last-child) {
  margin-bottom: 30px;
}

/* line 73, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item--small {
  flex-direction: row;
  align-items: center;
  padding: 20px;
  height: 150px;
  text-align: left;
}

/* line 79, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item--small .promo-section-item__title {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  margin: 0;
}

/* line 88, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item__img-cell {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 100%;
  margin-right: 25px;
}

/* line 100, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_promo-section-item.scss */
.promo-section-item__title-cell {
  display: flex;
  align-items: center;
}

/* line 4, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_main.scss */
.main__row {
  display: flex;
}

/* line 8, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_main.scss */
.main__column-left {
  width: 255px;
  flex-shrink: 0;
  margin-right: 30px;
}

/* line 13, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_main.scss */
.main__column-left > * + * {
  margin-top: 30px;
}

/* line 18, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_main.scss */
.main__column-right {
  flex-grow: 1;
}

/* line 5, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_navigation.scss */
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 11, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_navigation.scss */
.navigation__item {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #f5f5f5;
  color: #808080;
  transition: 0.2s color ease-in;
}

/* line 19, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_navigation.scss */
.navigation__item:last-child {
  border-bottom: none;
}

/* line 23, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_navigation.scss */
.navigation__item:hover {
  color: #1875f0;
  cursor: pointer;
}

/* line 27, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_navigation.scss */
.navigation__item:hover .navigation__icon,
.navigation__item:hover .navigation__icon-arrow {
  fill: #1875f0;
}

/* line 34, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_navigation.scss */
.navigation__icon {
  fill: #ccc;
  transition: 0.2s fill ease-in;
}

/* line 39, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_navigation.scss */
.navigation__icon-arrow {
  fill: #b5b5b5;
  transition: 0.2s fill ease-in;
}

/* line 44, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_navigation.scss */
.navigation__item-icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  margin-right: 1px;
}

/* line 55, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_navigation.scss */
.navigation__item-title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
}

/* line 60, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_navigation.scss */
.navigation__item-arrow {
  margin-left: auto;
  padding-right: 20px;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_info-block.scss */
.info-block {
  padding: 30px 20px;
  height: 336px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 11, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_info-block.scss */
.info-block__title {
  margin-bottom: 15px;
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

/* line 19, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_info-block.scss */
.info-block__subtitle {
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_tabs.scss */
.tabs {
  padding: 0 40px;
  display: flex;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

/* line 10, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_tabs.scss */
.tabs__btn {
  padding: 0;
  height: 100%;
  background: transparent;
  border: none;
  color: #808080;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

/* line 23, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_tabs.scss */
.tabs__btn:hover {
  color: #1875f0;
}

/* line 27, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_tabs.scss */
.tabs__btn + .tabs__btn {
  margin-left: 50px;
}

/* line 32, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_tabs.scss */
.tabs__btn--active {
  color: #1875f0;
  border-bottom: 2px solid #1875f0;
}

/* line 1, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* line 5, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.cards-wrapper > * {
  margin-bottom: 30px;
}

/* line 9, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.cards-wrapper > *:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* line 14, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card {
  padding: 20px;
  width: 255px;
}

/* line 20, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

/* line 26, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__sale {
  border-radius: 4px;
  background-color: #f7f7f7;
  padding: 6px 10px;
  color: #b3b3b3;
  font-weight: 900;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

/* line 39, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__icon-btns {
  display: flex;
  align-items: center;
}

/* line 44, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__icon-btn {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* line 50, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__icon-btn svg {
  fill: #d8d6d6;
}

/* line 54, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__icon-btn:hover svg {
  fill: #1875f0;
}

/* line 58, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__icon-btn + .card__icon-btn {
  margin-left: 25px;
}

/* line 63, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__img {
  height: 160px;
  margin-bottom: 34px;
  text-align: center;
}

/* line 68, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__title {
  margin-bottom: 25px;
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
}

/* line 76, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__rating {
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
}

/* line 81, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__rating > * + * {
  margin-left: 4px;
}

/* line 86, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__rating-value {
  margin-left: 16px;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.12px;
}

/* line 95, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__footer {
  display: flex;
  justify-content: center;
}

/* line 100, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__price {
  color: #666666;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.16px;
}

/* line 108, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__cart {
  margin-left: 17px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* line 115, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__cart svg {
  fill: #e6e4e4;
}

/* line 119, ../../Users/yurij/Desktop/quantum-html-06/scss/blocks/_card.scss */
.card__cart:hover svg {
  fill: #1875f0;
}

/*# sourceMappingURL=main.css.map */