<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Quantum Shop </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet"
          href="./libs/owl-carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic-ext"
          rel="stylesheet" />
    <script src="js/modal.js"></script>

</head>
<body>
    <section class="carousel-section">
        <div class="container">
            <div class="carousel owl-carousel owl-theme"
                 id="carousel-header">
                <div class="carousel__item">
                    <h2 class="carousel__item-title">
                        The Universe Through A Child S Eyes
                    </h2>
                    <div class="carousel__item-text">
                        <p>Start sales</p>
                    </div>
                </div>
                <div class="carousel__item">
                    <h2 class="carousel__item-title">
                        The Universe Through A Child S Eyes
                    </h2>
                    <div class="carousel__item-text">
                        <p>Start sales</p>
                    </div>
                </div>
                <div class="carousel__item">
                    <h2 class="carousel__item-title">
                        The Universe Through A Child S Eyes
                    </h2>
                    <div class="carousel__item-text">
                        <p>Start sales</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <main class="main-content">
        <div class="container">
            <div class="main__row">
                <div class="main__column-left">
                    <nav class="navigation">
                        <ul class="navigation__list">
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="22"
                                         height="20"
                                         viewBox="0 0 22 20">
                                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Computers
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="6"
                                         height="10"
                                         viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="22"
                                         height="20"
                                         viewBox="0 0 22 20">
                                        <path d="M20 12H2V2h18zm0-12H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7l-2 3v1h8v-1l-2-3h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Apple Computers
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="6"
                                         height="10"
                                         viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="22"
                                         height="20"
                                         viewBox="0 0 22 20">
                                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Laptops
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="6"
                                         height="10"
                                         viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="22"
                                         height="20"
                                         viewBox="0 0 22 20">
                                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Friends
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="6"
                                         height="10"
                                         viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="18"
                                         height="18"
                                         viewBox="0 0 18 18">
                                        <path d="M14 4H4v10h10zm1.999 4v2h2v2h-2v2c0 1.1-.899 2-2 2h-1.998v2H9.998v-2H8v2H6v-2H4c-1.1 0-2.001-.9-2.001-2v-2H0v-2H2V8H0V6H2V4c0-1.1.9-2 2-2H6V0h2v2h1.998V0H12v2H14c1.1 0 1.999.9 1.999 2v2h2v2zM9.998 8H8v2h1.998zM12 12H6V6h6z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Computer Components
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="6"
                                         height="10"
                                         viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="14"
                                         height="20"
                                         viewBox="0 0 14 20">
                                        <path d="M7 10c-1.66 0-3 1.34-3 3s1.34 3 3 3c1.659 0 3-1.34 3-3s-1.341-3-3-3zm0 8c-2.76 0-5-2.24-5-5s2.24-5 5-5c2.759 0 5 2.24 5 5s-2.241 5-5 5zM7 2c1.1 0 2 .9 2 2s-.9 2-2 2a2 2 0 1 1 0-4zm5-2H2C.9 0-.001.9-.001 2v16c0 1.1.9 1.99 2 1.99L12 20c1.1 0 2-.9 2-2V2c0-1.1-.899-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Accessories
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="6"
                                         height="10"
                                         viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="13"
                                         height="22"
                                         viewBox="0 0 13 22">
                                        <path d="M11 17H2V3h9zm-4.5 4c-.83 0-1.5-.67-1.5-1.5S5.67 18 6.5 18s1.5.67 1.5 1.5S7.33 21 6.5 21zm4-21H2.498A2.499 2.499 0 0 0 .002 2.5v17c0 1.38 1.117 2.5 2.497 2.5h8a2.5 2.5 0 0 0 2.5-2.5v-17a2.5 2.5 0 0 0-2.5-2.5z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Cell Phones
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="6"
                                         height="10"
                                         viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="22"
                                         height="20"
                                         viewBox="0 0 22 20">
                                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    TV & Video
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="6"
                                         height="10"
                                         viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="22"
                                         height="20"
                                         viewBox="0 0 22 20">
                                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Game consoles
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="6"
                                         height="10"
                                         viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="24"
                                         viewBox="0 0 16 24">
                                        <path d="M2 12c0-3.31 2.69-6 5.998-6 3.311 0 6 2.69 6 6s-2.689 6-6 6A6.005 6.005 0 0 1 2 12zm14 0c0-2.54-1.19-4.81-3.04-6.27L12 0H4l-.95 5.73A7.937 7.937 0 0 0-.001 12c0 2.55 1.19 4.81 3.05 6.27L4 24h8l.96-5.73A7.975 7.975 0 0 0 16 12z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Watches
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="6"
                                         height="10"
                                         viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <aside class="info-block">
                        <div class="info-block__title">
                            Look Up In The Sky
                        </div>
                        <div class="info-block__subtitle">
                            Astronomy Or Astrology
                        </div>
                    </aside>
                </div>
                <div class="main__column-right">
                    <div class="tabs">
                        <button class="tabs__btn tabs__btn--active">
                            Most Popular
                        </button>
                    </div>
                    <div class="cards-wrapper">
                        <div class="card">
                            <div class="card__header">
                                <div class="card__sale">SALE 10%</div>

                                <div class="card__icon-btns">
                                    <button class="card__icon-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="18"
                                             height="10"
                                             viewBox="0 0 18 10">
                                            <path d="M0 6V4h2v2zm0 4V8h2v2zm0-8V0h2v2zm4 4V4h14v2zm0 4V8h14v2zM4 0h14v2H4z" />
                                        </svg>
                                    </button>
                                    <button class="card__icon-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="20"
                                             height="19"
                                             viewBox="0 0 20 19">
                                            <path d="M10.1 15.55l-.1.1-.1-.1C5.14 11.24 2 8.39 2 5.5 2 3.5 3.5 2 5.5 2c1.54 0 3.038.99 3.569 2.36h1.871C11.46 2.99 12.96 2 14.5 2c2.002 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.898 10.05zM14.5 0c-1.74 0-3.41.81-4.5 2.09C8.912.81 7.24 0 5.5 0 2.42 0 0 2.42 0 5.5c0 3.78 3.4 6.86 8.55 11.54L10 18.35l1.451-1.32C16.6 12.36 20 9.28 20 5.5 20 2.42 17.58 0 14.5 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <div class="card__img">
                                <img src="./img/products/iphone.jpg"
                                     alt="Iphone 6 Grey 32GB" />
                            </div>
                            <h4 class="card__title">
                                Iphone 6 Grey 32GB
                            </h4>
                            <div class="card__rating">
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_half_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_border_icon.svg"
                                     alt="" />
                                <div class="card__rating-value">12</div>
                            </div>
                            <div class="card__footer">
                                <div class="card__price">$ 384.4</div>
                                <button class="card__cart">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="20"
                                         height="20"
                                         viewBox="0 0 20 20">
                                        <path d="M6 16c1.1 0 1.999.9 1.999 2s-.9 2-2 2C4.9 20 4.01 19.1 4.01 18S4.9 16 6 16zM-.001 0H3.27l.939 2H19c.549 0 .997.45.997 1 0 .17-.039.34-.12.48l-3.58 6.49c-.338.62-.997 1.03-1.749 1.03H7.1l-.9 1.63-.029.12c0 .14.11.25.25.25h11.578v2H6c-1.1 0-2-.9-2-2 0-.35.089-.68.249-.96L5.6 9.59 2 2H0zM16 16c1.1 0 1.998.9 1.998 2S17.1 20 16 20s-1.989-.9-1.989-2 .89-2 1.99-2z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__header">
                                <div class="card__sale">SALE 10%</div>

                                <div class="card__icon-btns">
                                    <button class="card__icon-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="18"
                                             height="10"
                                             viewBox="0 0 18 10">
                                            <path d="M0 6V4h2v2zm0 4V8h2v2zm0-8V0h2v2zm4 4V4h14v2zm0 4V8h14v2zM4 0h14v2H4z" />
                                        </svg>
                                    </button>
                                    <button class="card__icon-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="20"
                                             height="19"
                                             viewBox="0 0 20 19">
                                            <path d="M10.1 15.55l-.1.1-.1-.1C5.14 11.24 2 8.39 2 5.5 2 3.5 3.5 2 5.5 2c1.54 0 3.038.99 3.569 2.36h1.871C11.46 2.99 12.96 2 14.5 2c2.002 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.898 10.05zM14.5 0c-1.74 0-3.41.81-4.5 2.09C8.912.81 7.24 0 5.5 0 2.42 0 0 2.42 0 5.5c0 3.78 3.4 6.86 8.55 11.54L10 18.35l1.451-1.32C16.6 12.36 20 9.28 20 5.5 20 2.42 17.58 0 14.5 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="card__img">
                                <img src="./img/products/iphone.jpg"
                                     alt="Iphone 6 Grey 32GB" />
                            </div>
                            <h4 class="card__title">
                                Iphone 6 Grey 32GB
                            </h4>
                            <div class="card__rating">
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_half_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_border_icon.svg"
                                     alt="" />
                                <div class="card__rating-value">12</div>
                            </div>
                            <div class="card__footer">
                                <div class="card__price">$ 384.4</div>
                                <button class="card__cart">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="20"
                                         height="20"
                                         viewBox="0 0 20 20">
                                        <path d="M6 16c1.1 0 1.999.9 1.999 2s-.9 2-2 2C4.9 20 4.01 19.1 4.01 18S4.9 16 6 16zM-.001 0H3.27l.939 2H19c.549 0 .997.45.997 1 0 .17-.039.34-.12.48l-3.58 6.49c-.338.62-.997 1.03-1.749 1.03H7.1l-.9 1.63-.029.12c0 .14.11.25.25.25h11.578v2H6c-1.1 0-2-.9-2-2 0-.35.089-.68.249-.96L5.6 9.59 2 2H0zM16 16c1.1 0 1.998.9 1.998 2S17.1 20 16 20s-1.989-.9-1.989-2 .89-2 1.99-2z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__header">
                                <div class="card__sale">SALE 10%</div>

                                <div class="card__icon-btns">
                                    <button class="card__icon-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="18"
                                             height="10"
                                             viewBox="0 0 18 10">
                                            <path d="M0 6V4h2v2zm0 4V8h2v2zm0-8V0h2v2zm4 4V4h14v2zm0 4V8h14v2zM4 0h14v2H4z" />
                                        </svg>
                                    </button>
                                    <button class="card__icon-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="20"
                                             height="19"
                                             viewBox="0 0 20 19">
                                            <path d="M10.1 15.55l-.1.1-.1-.1C5.14 11.24 2 8.39 2 5.5 2 3.5 3.5 2 5.5 2c1.54 0 3.038.99 3.569 2.36h1.871C11.46 2.99 12.96 2 14.5 2c2.002 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.898 10.05zM14.5 0c-1.74 0-3.41.81-4.5 2.09C8.912.81 7.24 0 5.5 0 2.42 0 0 2.42 0 5.5c0 3.78 3.4 6.86 8.55 11.54L10 18.35l1.451-1.32C16.6 12.36 20 9.28 20 5.5 20 2.42 17.58 0 14.5 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="card__img">
                                <img src="./img/products/iphone.jpg"
                                     alt="Iphone 6 Grey 32GB" />
                            </div>
                            <h4 class="card__title">
                                Iphone 6 Grey 32GB
                            </h4>
                            <div class="card__rating">
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_half_icon.svg"
                                     alt="" />
                                <img class="card__rating-star"
                                     src="./img/icons-rating/star_border_icon.svg"
                                     alt="" />
                                <div class="card__rating-value">12</div>
                            </div>
                            <div class="card__footer">
                                <div class="card__price">$ 384.4</div>
                                <button class="card__cart">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="20"
                                         height="20"
                                         viewBox="0 0 20 20">
                                        <path d="M6 16c1.1 0 1.999.9 1.999 2s-.9 2-2 2C4.9 20 4.01 19.1 4.01 18S4.9 16 6 16zM-.001 0H3.27l.939 2H19c.549 0 .997.45.997 1 0 .17-.039.34-.12.48l-3.58 6.49c-.338.62-.997 1.03-1.749 1.03H7.1l-.9 1.63-.029.12c0 .14.11.25.25.25h11.578v2H6c-1.1 0-2-.9-2-2 0-.35.089-.68.249-.96L5.6 9.59 2 2H0zM16 16c1.1 0 1.998.9 1.998 2S17.1 20 16 20s-1.989-.9-1.989-2 .89-2 1.99-2z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__header">
                                <div class="card__sale">SALE 10%</div>

                                <div class="card__icon-btns">
                                    <button class="card__icon-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10">
                                            <path d="M0 6V4h2v2zm0 4V8h2v2zm0-8V0h2v2zm4 4V4h14v2zm0 4V8h14v2zM4 0h14v2H4z" />
                                        </svg>
                                    </button>
                                    <button class="card__icon-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                                            <path d="M10.1 15.55l-.1.1-.1-.1C5.14 11.24 2 8.39 2 5.5 2 3.5 3.5 2 5.5 2c1.54 0 3.038.99 3.569 2.36h1.871C11.46 2.99 12.96 2 14.5 2c2.002 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.898 10.05zM14.5 0c-1.74 0-3.41.81-4.5 2.09C8.912.81 7.24 0 5.5 0 2.42 0 0 2.42 0 5.5c0 3.78 3.4 6.86 8.55 11.54L10 18.35l1.451-1.32C16.6 12.36 20 9.28 20 5.5 20 2.42 17.58 0 14.5 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="card__img">
                                <img src="./img/products/iphone.jpg" alt="Iphone 6 Grey 32GB" />
                            </div>
                            <h4 class="card__title">
                                Iphone 6 Grey 32GB
                            </h4>
                            <div class="card__rating">
                                <img class="card__rating-star" src="./img/icons-rating/star_icon.svg" alt="" />
                                <img class="card__rating-star" src="./img/icons-rating/star_icon.svg" alt="" />
                                <img class="card__rating-star" src="./img/icons-rating/star_icon.svg" alt="" />
                                <img class="card__rating-star" src="./img/icons-rating/star_half_icon.svg" alt="" />
                                <img class="card__rating-star" src="./img/icons-rating/star_border_icon.svg" alt="" />
                                <div class="card__rating-value">12</div>
                            </div>
                            <div class="card__footer">
                                <div class="card__price">$ 384.4</div>
                                <button class="card__cart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <path d="M6 16c1.1 0 1.999.9 1.999 2s-.9 2-2 2C4.9 20 4.01 19.1 4.01 18S4.9 16 6 16zM-.001 0H3.27l.939 2H19c.549 0 .997.45.997 1 0 .17-.039.34-.12.48l-3.58 6.49c-.338.62-.997 1.03-1.749 1.03H7.1l-.9 1.63-.029.12c0 .14.11.25.25.25h11.578v2H6c-1.1 0-2-.9-2-2 0-.35.089-.68.249-.96L5.6 9.59 2 2H0zM16 16c1.1 0 1.998.9 1.998 2S17.1 20 16 20s-1.989-.9-1.989-2 .89-2 1.99-2z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__header">
                                <div class="card__sale">SALE 10%</div>

                                <div class="card__icon-btns">
                                    <button class="card__icon-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10">
                                            <path d="M0 6V4h2v2zm0 4V8h2v2zm0-8V0h2v2zm4 4V4h14v2zm0 4V8h14v2zM4 0h14v2H4z" />
                                        </svg>
                                    </button>
                                    <button class="card__icon-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                                            <path d="M10.1 15.55l-.1.1-.1-.1C5.14 11.24 2 8.39 2 5.5 2 3.5 3.5 2 5.5 2c1.54 0 3.038.99 3.569 2.36h1.871C11.46 2.99 12.96 2 14.5 2c2.002 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.898 10.05zM14.5 0c-1.74 0-3.41.81-4.5 2.09C8.912.81 7.24 0 5.5 0 2.42 0 0 2.42 0 5.5c0 3.78 3.4 6.86 8.55 11.54L10 18.35l1.451-1.32C16.6 12.36 20 9.28 20 5.5 20 2.42 17.58 0 14.5 0z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <div class="card__img">
                                <img src="./img/products/iphone.jpg" alt="Iphone 6 Grey 32GB" />
                            </div>
                            <h4 class="card__title">
                                Iphone 6 Grey 32GB
                            </h4>
                            <div class="card__rating">
                                <img class="card__rating-star" src="./img/icons-rating/star_icon.svg" alt="" />
                                <img class="card__rating-star" src="./img/icons-rating/star_icon.svg" alt="" />
                                <img class="card__rating-star" src="./img/icons-rating/star_icon.svg" alt="" />
                                <img class="card__rating-star" src="./img/icons-rating/star_half_icon.svg" alt="" />
                                <img class="card__rating-star" src="./img/icons-rating/star_border_icon.svg" alt="" />
                                <div class="card__rating-value">12</div>
                            </div>
                            <div class="card__footer">
                                <div class="card__price">$ 384.4</div>
                                <button class="card__cart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <path d="M6 16c1.1 0 1.999.9 1.999 2s-.9 2-2 2C4.9 20 4.01 19.1 4.01 18S4.9 16 6 16zM-.001 0H3.27l.939 2H19c.549 0 .997.45.997 1 0 .17-.039.34-.12.48l-3.58 6.49c-.338.62-.997 1.03-1.749 1.03H7.1l-.9 1.63-.029.12c0 .14.11.25.25.25h11.578v2H6c-1.1 0-2-.9-2-2 0-.35.089-.68.249-.96L5.6 9.59 2 2H0zM16 16c1.1 0 1.998.9 1.998 2S17.1 20 16 20s-1.989-.9-1.989-2 .89-2 1.99-2z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="footer-container">
            <div class="left-col">
                <img src="img/Logo_Quantum.png" alt="" class="logo">
                <div class="social-media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <p class="rights-text">© 2020 Created By Kalmukhanbetov Ilyas</p>
                <p class="rights-text">& Amanbay Shadiyar All Rights Reserved.</p>
            </div>

            <div class="right-col">
                <h1 class="asd">Our Newsletter</h1>
                <div class="border"></div>
                <p class="dsa">Enter Your Email to get our news and updates.</p>
                <form action="" class="newsletter-form">
                    <input type="text" class="txtb" placeholder="Enter Your Email">
                    <input type="submit" class="btn" value="submit">
                </form>
            </div>
        </div>
    </footer>

    <div class="modal fade bs-modal-sm log-sign" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li id="tab1" class=" active tab-style login-shadow "><a href="#signin" data-toggle="tab">Log In</a></li>
                        <li id="tab2" class=" tab-style "><a href="#signup" data-toggle="tab">Sign Up</a></li>

                    </ul>
                </div>
                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active in" id="signin">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="group">
                                        <input required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Email address</label>
                                    </div>
                                    <div class="group">
                                        <input required="" class="input" type="password"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Password</label>
                                    </div>
                                    <em>minimum 6 characters</em>

                                    <div class="forgot-link">
                                        <a href="#forgot" data-toggle="modal" data-target="#forgot-password"> I forgot my password</a>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="signin"></label>
                                        <div class="controls">
                                            <button id="signin" name="signin" class="btn btn-primary btn-block">Log In</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>


                        <div class="tab-pane fade" id="signup">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="group">
                                        <input required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">First Name</label>
                                    </div>

                                    <div class="group">
                                        <input required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Last Name</label>
                                    </div>

                                    <div class="group">
                                        <input required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Email</label>
                                    </div>

                                    <div class="group">
                                        <input required="" class="input" type="password"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Password</label>
                                    </div>
                                    <em>1-8 Characters</em>

                                    <div class="group2">
                                        <input required="" class="input" type="password"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Re-Password</label>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="confirmsignup"></label>
                                        <div class="controls">
                                            <button id="confirmsignup" name="confirmsignup" class="btn btn-primary btn-block">Sign Up</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-modal-sm" id="forgot-password" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Password will be sent to your email</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="group">
                                <input required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                <label class="label" for="date">Email address</label>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="forpassword"></label>
                                <div class="controls">
                                    <button id="forpasswodr" name="forpassword" class="btn btn-primary btn-block">Send</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <script src="./libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="./libs/owl-carousel/owl.carousel.min.js"></script>

    <script src="js/header-select.js"></script>
    <script src="js/main.js"></script>

</body>
</html>

